footer.footer
    p.site_title Company Name
    .footer_blocks
        .footer_company_menu
            h3 Company
            ul
                li
                    a(href="#") About Us
                li
                    a(href="#") Our Team
                li
                    a(href="#") Careers
                li
                    a(href="#") Press
                li
                    a(href="#") In the Media
                li
                    a(href="#") VPN Reviews
                li
                    a(href="#") Companies We Support
                li
                    a(href="#") Contact Us
                li
                    a(href="#") Blog
        .footer_programs_menu
            h3 Programs
            ul
                li
                    a(href="#") Whitehat Security
                li
                    a(href="#") Affiliates
        .footer_learn_more_menu
            h3 Learn More
            ul
                li
                    a(href="#") VPN Encryption
                li
                    a(href="#") Android VPN Apps
                li
                    a(href="#") iOS VPN Apps
                li
                    a(href="#") PIA Sitemap
        .footer_legal_menu
            h3 Legal
            ul
                li
                    a(href="#") Terms Of Service
                li
                    a(href="#") Privacy Policy
                li
                    a(href="#") DMCA Policy
                li
                    a(href="#") Export Control Policy
        .footer_about_block
            h3 About
            p Private Internet Access is the leading VPN Service provider specializing in secure, encrypted VPN tunnels which create several layers of privacy and security providing you safety on the internet. Our service is backed by multiple gateways worldwide with access in 28+ countries, 44+ regions.
            p.small Map data provided by Google.
            p.small PC Mag Editor’s Choice award image reprinted with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.
                br
                | PC Mag quote reprinted from www.pcmag.com with permission. © 2012 Ziff Davis, Inc. All Rights Reserved.
            p.small © London Trust Media, Inc. All Rights Reserved.
        .footer_social_block
            h3 Social
            .icons
                a(href="#")
                    i.fa-brands.fa-facebook-f
                a(href="#")
                    i.fa-brands.fa-twitter
                a(href="#")
                    i.fa-brands.fa-google-plus-g
                a(href="#")
                    i.fa-brands.fa-linkedin
                a(href="#")
                    i.fa-brands.fa-reddit
                a(href="#")
                    i.fa-brands.fa-youtube