header.header
    .top_line
        .top_line__not_protected
            i.fa-solid.fa-triangle-exclamation
            |  You are not protected
        .top_line__ip Your IP Address: 107.3.176.194
        .top_line__isp Your ISP: Comcast Cable
        .top_line__learn_more
            a(href="#") Learn More >

    .header_menu_block
        .header__toggle_main_menu#burger_menu
            i.fa-solid.fa-bars#burger_button
        h1.header__logo Company Name
        .header__main_menu#main_menu
            ul
                li Why Us
                    i.fa-solid.fa-caret-down
                    ul
                        li First
                        li Second
                        li Third
                li VPN Apps
                li Support
                    i.fa-solid.fa-caret-down
                    ul
                        li First
                        li Second
                        li Third
                li Resources
                    i.fa-solid.fa-caret-down
                    ul
                        li First
                        li Second
                        li Third
        .header__buttons
            button.header__buttons__log_in Log In
            button.header__buttons__get_started Get Started

    .top_block
        .top_post
            .post__image
                img(src="images/main-post-image.jpg", alt="main-post")
            .post__content
                .intro_text TV Addons: Legal battle against Canadian media giants demonstrates severe consequences facing developers accused of copyright infringement
                .details
                    .details__author Danica Sergison
                    .details__date JUL 08, 2018
                    .details__tags Copyright, News, Open Source, Privacy
                    .details__comments
                        i.fa-regular.fa-message
                        | 0
        .tags_menu
            ul.tags_menu__items
                span Tags:
                li Bitcoin
                li BitTorrent
                li IRC
                li News
                li Privacy
                li Programming
                li Security
            .tags_menu__links
                a(href="#") Team
                a(href="#") Contact