aside.sidebar_block
    .announcements
        h3
            i.fa-regular.fa-bell
            | Announcements
        ul
            li Upcoming Changes (Live Chat, Less Censorship, More Access)
            li New Servers (US Washington DC)
            li New Servers (US Denver)
            li Open Source: Releasing the PIA iOS Client
            li Opera Extension is now available
    .popular_posts
        h3
            i.fa-solid.fa-rss
            | Popular posts
        ul
            li The Gift of Privacy
            li UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture
            li About the PIA Client Security and VPN Security in General
            li A Private Net Is Just As Fundamental A Right As Freedom Of Speech
            li Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie

    .advertisement
        img(src="images/sidebar-image.png", alt="Advertisement")

    .tag_cloud
        h3.no_icon Tag Cloud
        img(src="images/tag-cloud.png", alt="Advertisement")